:root {
    --nav-link: #212121;
    --info-top: #757575;
}
a:link, a:visited, a:active, a:hover {
    text-decoration: none;
}
/* Logo and Header */
.nav-link {
    color: var(--nav-link);
    border: none;
}

.nav-link:hover, .nav-link:focus {
    color: #2196f3;
}
.logo {
    font-family: Raleway;
    font-size: 26px;
}
.web {
    color:#2196f3;
    border: none;
}
.studio {
    color: #212121;
    border: none;
}

.global-header {
    background-color: #FFFFFF;
}

.info-top {
    color:--info-top;
    border: none;
    font-family: Roboto;
    font-size: px;
}

.info-top:hover, .info-top:focus {
    color:#2196f3;
}
/* Footer */



/* Top section */
.top-section {
    background-color: #2f303a;
    width: 1600px;
}
#title {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    text-align: center;
}

.button {
    font-family: Roboto;
    color:#ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 6%;
    border-radius: 4px;
    background: #2196f3;
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    text-align: center;
    cursor: pointer;

}

ul {
    list-style-type: none;
}



